@font-face {
  font-family: "PR";
  src: url("../assets/fonts/lp/lenorapremium_regular.eot");
  src: url("../assets/fonts/pr/proximanova_regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/pr/proximanova_regular.woff") format("woff"),
    url("../assets/fonts/pr/proximanova_regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LP";
  src: url("../assets/fonts/lp/lenorapremium_regular.eot");
  src: url("../assets/fonts/lp/lenorapremium_regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/lp/lenorapremium_regular.woff") format("woff"),
    url("../assets/fonts/lp/lenorapremium_regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
