@font-face {
  font-family: "PR";
  src: url(./proximanova_regular.eot);
  src: url(./proximanova_regular.eot?#iefix) format("embedded-opentype"),
    url(./proximanova_regular.woff) format("woff"),
    url(./proximanova_regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LP";
  src: url(./lenorapremium_regular.eot);
  src: url(./lenorapremium_regular.eot?#iefix) format("embedded-opentype"),
    url(./lenorapremium_regular.woff) format("woff"),
    url(./lenorapremium_regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
