@charset "UTF-8";
.btn.primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12.375rem;
  height: 4rem;
  background-color: #ffffff;
  color: #111111;
  border: 1px solid #111111;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  font-family: "PR", sans-serif;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.btn.primary:hover {
  background-color: #333333;
  color: white;
  border-color: #ffffff;
}

@font-face {
  font-family: "PR";
  src: url(../assets/fonts/lp/lenorapremium_regular.eot);
  src: url(../assets/fonts/pr/proximanova_regular.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/pr/proximanova_regular.woff) format("woff"), url(../assets/fonts/pr/proximanova_regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LP";
  src: url(./lenorapremium_regular.eot);
  src: url(./lenorapremium_regular.eot?#iefix) format("embedded-opentype"), url(./lenorapremium_regular.woff) format("woff"), url(./lenorapremium_regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  color: #111111;
  font-family: "PR", sans-serif;
}

.heading2 {
  font-size: 40px;
}

.main-learn__text {
  font-size: 18px;
  font-family: "PR", sans-serif;
  margin: 2rem 0 1.25rem 0;
  color: #111111;
  max-width: 19.375rem;
}
.main-learn__title {
  font-size: 40px;
  font-family: "PR", sans-serif;
  font-weight: 400;
  margin-top: 1.5rem;
  color: #111111;
  max-width: 19.375rem;
}

.learn {
  background-image: url("../assets/pic/learn/Gradient.png");
  background-repeat: no-repeat;
  padding: 3.75rem 0;
  font-family: "PR", sans-serif;
  font-size: 40px;
}

/*-----------------MOBILE-VERSION-LEARN----------------------*/
@media (max-width: 767px) {
  .btn.primary {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .btn.primary {
    margin-bottom: 2rem;
  }
}
.questions {
  background-image: url("../assets/pic/questions/questions_ring.png");
  background-position: right;
  background-repeat: no-repeat;
  border-top: 1px solid #111111;
}

/*-----------------ACCORDION----------------------*/
.accordion-item {
  background-color: rgba(255, 255, 255, 0.1); /* Прозрачный белый цвет фона */
  margin-bottom: 2rem; /* Расстояние между элементами аккордеона */
  border: 0.5px solid #111111;
  border-radius: 8px;
}

.accordion-button {
  background-color: transparent;
  color: #111111;
  border: 0.5px solid #111111;
  border-radius: 8px;
}

.accordion-collapse {
  background-color: rgba(255, 255, 255, 0.1); /* Прозрачный белый цвет фона для текста */
}

.accordion-button:not(.collapsed) {
  border-bottom: none;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(0.7) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

/*-----------------MOBILE-VERSION-QUESTIONS----------------------*/
@media (max-width: 767px) {
  .questions {
    background-image: none; /* Убираем фоновую картинку */
    background-color: #F2F2F2; /* Задаем серый цвет фона */
  }
  .accordion-item {
    margin-bottom: 1rem; /* Расстояние между элементами аккордеона */
  }
  .accordion-button, .accordion-item, .card-body {
    background-color: white;
  }
  .accordion-button, .accordion-button.collapsed {
    font-weight: 700;
  }
  .transparent-accordion .accordion-button {
    font-weight: 600;
  }
  .transparent-accordion .accordion-button.collapsed {
    font-weight: 600;
  }
  .transparent-accordion .accordion-button:not(.collapsed) {
    font-weight: 600;
  }
  .extra-space {
    background-color: #F2F2F2;
  }
}/*# sourceMappingURL=style.css.map */